@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
}

.container {
    width: 100%;
    min-height: 100vh;
}

h1, h3, h5 {
    font-family: 'Fraunces', serif;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}