//Extracted Colors
$Header: hsl(199, 96%, 62%);
$Footer: hsl(167, 44%, 70%);
$Hover: hsl(200, 100%, 72%);

//Primary colors

$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%); // for (graphic design text)
$Dark-blue: hsl(198, 62%, 26%); // for (photography text)
$Dark-moderate-cyan : hsl(168, 34%, 41%); // for (footer)

//Neutral colors

$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//Images variables
$image-header-desktop: '../images/desktop/image-header.jpg'; //Header Dekstop
$image-header-mobile: '../images/mobile/image-header.jpg'; //Header Mobile
$image-section2: '../images/desktop/image-transform.jpg'; //Sect 2 Desktop
$image-section2-Mobile: '../images/mobile/image-transform.jpg'; //Sect 2 Mobile
$image-section3: '../images/desktop/image-stand-out.jpg'; // Sect 3 Dekstop
$image-section3-mobile: '../images/mobile/image-stand-out.jpg'; // Sect 3 Mobile
$image-section5: '../images/desktop/image-graphic-design.jpg'; //Sect 5 Desktop
$image-section5-mobile: '../images/mobile/image-graphic-design.jpg'; //Sect 5 Mobile
$image-section6: '../images/desktop/image-photography.jpg'; //Sect 6 Dekstop
$image-section6-mobile: '../images/mobile/image-photography.jpg'; //Sect 6 Dekstop
$image-gallery1: '../images/desktop/image-gallery-milkbottles.jpg'; //Gallery 1 Desktop
$image-gallery1-mobile: '../images/mobile/image-gallery-milkbottles.jpg'; //Gallery 1 Mobile
$image-gallery2: '../images/desktop/image-gallery-orange.jpg'; //Gallery 2 Desktop
$image-gallery2-mobile: '../images/mobile/image-gallery-orange.jpg';  //Gallery 2 Mobile
$image-gallery3: '../images/desktop/image-gallery-cone.jpg'; //Gallery 3 Desktop
$image-gallery3-mobile: '../images/mobile/image-gallery-cone.jpg'; //Gallery 3 Mobile
$image-gallery4: '../images/desktop/image-gallery-sugarcubes.jpg'; //Gallery 4 Desktop
$image-gallery4-mobile: '../images/mobile/image-gallery-sugar-cubes.jpg'; //Gallery 4 mobile


